/* General Styling for Skills Page */
body {
    margin: 0;
    background: linear-gradient(to bottom, #1f1f1f, #4a4a4a);
    color: #e0e0e0; /* Consistent text color */
    font-family: Arial, sans-serif; /* Consistent font */
    font-size: 15px;
    
}

.skills-header h1 {
    color: #e0e0e0; /* Consistent text color */
    font-family: Arial, sans-serif; /* Same font */
    text-align: center; /* Center-align the text */
    margin-bottom: 20px; /* Space below the header */
}

.skills-page {

    min-height: 100vh;
    background: transparent; /* Remove individual gradient */
    padding: 20px; /* Add padding for spacing */
}

